<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wrjlewis.notion-search</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCE03E9D-F992-4B21-9A77-E72D5130DF80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C10CCF8-8B6B-4F25-A9BD-1134E84378DB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8083D292-1994-456E-AC9C-CCCFDDA3EF47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C705833-7A87-43F9-8C8F-2485909F2D6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCE03E9D-F992-4B21-9A77-E72D5130DF80</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Will Lewis</string>
	<key>description</key>
	<string>Instant Notion search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FCE03E9D-F992-4B21-9A77-E72D5130DF80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:notion_search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>python3 -B notion.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Notion Search</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6C10CCF8-8B6B-4F25-A9BD-1134E84378DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://notion.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9C705833-7A87-43F9-8C8F-2485909F2D6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:new_notion_page_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create a new page in Notion…</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8083D292-1994-456E-AC9C-CCCFDDA3EF47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>New in 0.6:

- Type ‘nsn’ for the option to quickly open a new page in Notion. Very handy! (Only supports the web app currently)

- https://github.com/wrjlewis/notion-search-alfred-workflow/issues/83 - Fixed a bug that would cause an error and no more results to be displayed, relating to new Notion projects and icons.

- I've added new cairo (SVG icons) instructions for those on apple silicon, to the readme at the projects github page, use at your own risk but they work for me and svg icons now appear in search results.

https://github.com/wrjlewis/notion-search-alfred5-workflow/

--

notion-search-alfred-workflow
An Alfred workflow to search Notion.so with instant results

Simply type your keyword into Alfred (default: ns) to see instant search results from Notion that mimic the Quick Find function in the Notion webapp. Selecting a search result takes you to that page in Notion in your default web browser.

Documentation, install and instructions here:
https://github.com/wrjlewis/notion-search-alfred5-workflow/

Forum topic:
https://www.alfredforum.com/topic/14451-notionso-instant-search-workflow/

Thanks!</string>
	<key>uidata</key>
	<dict>
		<key>6C10CCF8-8B6B-4F25-A9BD-1134E84378DB</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>8083D292-1994-456E-AC9C-CCCFDDA3EF47</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>9C705833-7A87-43F9-8C8F-2485909F2D6A</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>FCE03E9D-F992-4B21-9A77-E72D5130DF80</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>not</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to search in your Notion workspace</string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>notion_search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>newnot</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to create a new Notion page.</string>
			<key>label</key>
			<string>New Page Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>new_notion_page_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Needed for your Notion token.</string>
			<key>label</key>
			<string>Cookie</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cookie</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your organisation identifier.</string>
			<key>label</key>
			<string>Space ID</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>notionSpaceId</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Restricts search to only include pages, excluding content within pages.</string>
			<key>label</key>
			<string>Search Pages Only</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>isNavigableOnly</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Opens Notion links in the desktop app instead of the browser.</string>
			<key>label</key>
			<string>Open in Desktop App</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>useDesktopClient</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Displays icons for pages and other objects in search results.</string>
			<key>label</key>
			<string>Show Icons</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>enableIcons</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Displays recently viewed pages when the search query is empty.</string>
			<key>label</key>
			<string>Show Recent Pages</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>showRecentlyViewedPages</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>365</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Defines the number of days for icons and images to be cached.</string>
			<key>label</key>
			<string>Icon Cache Length</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>iconCacheDays</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.6</string>
	<key>webaddress</key>
	<string>https://github.com/wrjlewis/notion-search-alfred5-workflow/</string>
</dict>
</plist>
